.see-more {
    width: 100%;
    margin-top: 60px;
    display: flex;
    justify-content: center;

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #d8d8d8;
        border-radius: 25px;
        padding: 12px 31px 12px 33px;
        background: none;
        cursor: pointer;
        margin-bottom: 77px;
        margin-left: -2.5%;

        &:active {
            border: 1px solid #45852d;
        }

        span {
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 24px;
        }

        svg {
            margin-left: 10px;
        }
    }
}
