<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300"
            rel="stylesheet"
            type="text/css"
        />

        <meta
            name="viewport"
            content="width=device-width,initial-scale=1.0,shrink-to-fit=no"
        />

        <title>UI Dev Task</title>

        <!-- Site details -->
        <meta name="keywords" content="rent, house" />
        <meta
            name="description"
            content="Here you may find the best rent house offer that will satisfy your needs."
        />

        <!-- Indexing/Google -->
        <meta name="robots" content="index,follow" />
        <meta name="google" content="notranslate" />
    </head>
    <body>
        <noscript>Your browser does not support JavaScript!</noscript>
        <div id="root"></div>

        <script crossorigin="anonymous" src="<%= cdnReact %>"></script>
        <script crossorigin="anonymous" src="<%= cdnReactDom %>"></script>
    </body>
</html>
